@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=New+Amsterdam&family=Varela&display=swap");

:root {
  --basecolor: #ffffff;
  --altbase: #121212;
  --thickbase: #1e38e2;
  --primarycolor: #1e90ff;
  --secondarycolor: #00bfff;

  /* Additional Colors */
  --lightbackground: #87cefa;
  --contrast: #4682b4;
  --neutral-gray: #dcdcdc;
  --transparent-gray: #dfdfdf7f;
}

[data-theme="dark"] {
  --basecolor: #121212;
  --altbase: #ffffff;
  --thickbase: #ffffff;
  --contrast: #b2c5ff;
  --neutral-gray: #b0b0b0;
  --transparent-gray: #9696967f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
body {
  font-family: "Inter", sans-serif;
  /* Temporary Code */
  background: var(--basecolor);
}

/* Navbar */
.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100vw;
  min-height: 10vh;
  background: linear-gradient(
    to right,
    var(--basecolor),
    var(--primarycolor),
    var(--secondarycolor)
  );
}
.navcontainer .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.navcontainer .icon img {
  border-radius: 50%;
  width: 2.5rem;
}
.navcontainer .icon p {
  font-size: 2rem;
  color: #ffffff;
  font-family: "New Amsterdam", sans-serif;
  text-shadow: 1px 1px var(--contrast);
}
.navcontainer .menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: var(--basecolor);
  font-family: "Varela", sans-serif;
}
.navcontainer .menu ul li {
  transition: all 0.5s;
}
.navcontainer .menu ul li a {
  text-decoration: none;
  color: var(--basecolor);
}
.navcontainer .menu ul li:hover,
.navcontainer .menu ul li:hover a,
.navcontainer .menu ul li a.active {
  color: var(--contrast);
}

/* Header */
.headercontainer {
  width: 100vw;
  height: 20vh;
  background: linear-gradient(
    to right,
    var(--basecolor),
    var(--primarycolor),
    var(--secondarycolor)
  );
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headercontainer .searchcont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}
.headercontainer .searchcont h1 {
  color: var(--primarycolor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.headercontainer .searchcont .searchbox {
  height: 4rem;
  width: 65vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid #dcdcdc5f;
  background: var(--basecolor);
  gap: 0.5rem;
  padding: 0 0.4rem;
}
.headercontainer .searchcont .searchbox select {
  background: var(--basecolor);
  color: var(--altbase);
  height: 70%;
  border: none;
  outline: none;
  border-radius: 15px;
}
.headercontainer .searchcont .searchbox input::placeholder {
  color: var(--altbase);
  opacity: 0.7;
}
.headercontainer .searchcont .searchbox input {
  background: var(--basecolor);
  color: var(--altbase);
  height: 70%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 1rem;
  padding: 0 1rem;
}
.headercontainer .searchcont .searchbox button {
  height: 70%;
  border: none;
  outline: none;
  border-radius: 12px;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--altbase);
  background: var(--primarycolor);
}

/* wallet */
.wallet {
  background: linear-gradient(
    to right,
    var(--basecolor),
    var(--primarycolor),
    var(--secondarycolor)
  );
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wallet .walletCont {
  width: 95%;
  height: 80%;
  background: #9999993f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.wallet .walletCont .balance {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  color: var(--thickbase);
  padding: 1rem;
  width: 40%;
  height: 100%;
}
.wallet .walletCont .balance span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.wallet .walletCont .balance span #wallet {
  color: var(--thickbase);
  background: none;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: bold;
}
.wallet .walletCont .balance span #wallet option {
  background: var(--basecolor);
}
.wallet .walletCont .balance div p {
  font-size: 1.3rem;
  opacity: 0.7;
}
.wallet .walletCont .operations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}
.wallet .walletCont .operations button {
  padding: 1rem;
  border-radius: 15px;
  border: none;
  color: var(--altbase);
  background: var(--basecolor);
}
.wallet .walletCont .operations button:hover {
  transform: scale(1.2);
}

/* wallet not found  */
.wallet .walletNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.wallet .walletNotFound h1 {
  color: var(--basecolor);
}
.wallet .walletNotFound button {
  padding: 1rem;
  border-radius: 20px;
  border: none;
  color: var(--altbase);
  background: var(--basecolor);
}
.wallet .walletNotFound button:hover {
  transform: scale(1.4);
}
